/* You can add global styles to this file, and also import other style files */
:root{
    color-scheme: light dark;
}

body { 
    font-family: 'Times New Roman', Times, serif;
    font-size: medium !important;
}